.title {
    background: #0070f3;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 8px 0px;
    margin-bottom: 32px;
}
.container {
    background: white;
}
.selectContainer {
    position: relative;
    height: 24px;
}
.select{
    position: absolute;
    right: 5%;
}
.checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0px 12px;
    margin-bottom: 40px;
}
.chart {
    width: 90%;
    margin: auto;
}
.checkboxItem {
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.checkboxText {
    color: black;
    font-size: 14px;
}